body {
  padding: 0;
  margin: 0;
  background: #D7D9D7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #11FFBD, #AAFFA9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #11FFBD, #AAFFA9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
html, body {
  height: 100vh;
  width: 100%;
}
#overpass-api-controls {
  padding: 10px;
  background-color: rgb(255, 255, 255);
}
#overpass-api-controls a {
  display: inline;
}
.dashboard-wrapper {
  justify-content: center;
  height: 350px;
  padding:10px;
  margin-top: 50px;
}
.root {
  height: 100%;
  padding:10px
}
#map {
  height: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 7px 6px 37px -1px rgba(107,107,107,1);
  -moz-box-shadow: 7px 6px 37px -1px rgba(107,107,107,1);
  box-shadow: 7px 6px 37px -1px rgba(107,107,107,1);  
}

@keyframes lds-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes lds-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.lds-eclipse {
  position: relative;
}
.lds-eclipse div {
  position: absolute;
  -webkit-animation: lds-eclipse 0.4s linear infinite;
  animation: lds-eclipse 0.4s linear infinite;
  width: 120px;
  height: 120px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  box-shadow: 0 4px 0 0 #442317;
  -webkit-transform-origin: 80px 82px;
  transform-origin: 80px 82px;
}
.lds-eclipse {
  width: 100px !important;
  height: 100px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}
.loading {
  position: absolute;
  z-index: 999999;
  left: 50%;
  top: 30%;
  transform: translate(-50%, 50%);
  display: none;
}
.padding-l{
  margin-left: 50px;
}
.checkbox{
  padding:15px;
  border:5px;
}
.menu-list{
  padding:15px;  
}

/*GREENS: #4ac4ac, #399988, #17694f, #0a1a17;*/

* {
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0px auto;
  background-color: #333;
}

.slider {
  pointer-events: none;
  margin: 0px;
  cursor: pointer;
  /*width:200px;*/
  
  padding-left: 30%;
  padding-right: 30%;
  /*height:6px;*/
  
  background-color: #17694f;
  box-sizing: border-box;
}

.slider.focusable {
  border: 1px solid #222
}

.thumb {
  cursor: pointer;
  border-color: #333;
  border-style: solid;
  /*border-width:4px; width:16px; height:16px;*/
  
  background-color: #0f4534;
  background-color: rgba(100, 100, 100, 1);
  border-radius: 50%;
  position: absolute;
  /*top:-6px;left:50px;*/
}

.track {
  pointer-events: none;
  height: 100%;
  background-color: #4ac4ac;
}

.container {
  position: relative;
  margin: 200px auto;
  height: 30px;
  width: 220px;
}

.output {
  pointer-events: none;
  margin: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50% 50% 0 50%;
  background-color: #4ac4ac;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: -45px;
  /*left:45px*/
  
  ;
}

.output p {
  pointer-events: none;
  font-size: 14px;
  color: #0a1a17;
  text-align: center;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

