body {
  padding: 0;
  margin: 0;
  background: #AAFFA9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #11FFBD, #AAFFA9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #11FFBD, #AAFFA9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
html, body {
  height: 100vh;
  width: 100%;
}
#overpass-api-controls {
  padding: 10px;
  background-color: rgb(255, 255, 255);
}
#overpass-api-controls a {
  display: inline;
}
.dashboard-wrapper {
  justify-content: center;
  height: 350px;
  padding:10px;
  margin-top: 50px;
}
.root {
  height: 100%;
  padding:10px
}
#map {
  height: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 7px 6px 37px -1px rgba(107,107,107,1);
  -moz-box-shadow: 7px 6px 37px -1px rgba(107,107,107,1);
  box-shadow: 7px 6px 37px -1px rgba(107,107,107,1);  
}

@keyframes lds-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes lds-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.lds-eclipse {
  position: relative;
}
.lds-eclipse div {
  position: absolute;
  -webkit-animation: lds-eclipse 0.4s linear infinite;
  animation: lds-eclipse 0.4s linear infinite;
  width: 120px;
  height: 120px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  box-shadow: 0 4px 0 0 #442317;
  -webkit-transform-origin: 80px 82px;
  transform-origin: 80px 82px;
}
.lds-eclipse {
  width: 100px !important;
  height: 100px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}
.loading {
  position: absolute;
  z-index: 999999;
  left: 50%;
  top: 30%;
  transform: translate(-50%, 50%);
  display: none;
}
.padding-l{
  margin-left: 50px;
}
.checkbox{
  padding:15px;
  border:5px;
}
.menu-list{
  padding:15px;
  
}



